.characters 
    h1 Персонажи квеста
    .characters__box
        .characters__box-item 
            picture
                source(type='image/webp' srcset='./img/ava1.webp')
                img(alt='image' loading="lazy" src='./img/ava1.jpg')
            h2 Иван Васильевич Саватеев
            p Этот многообещающий молодой учёный приехал в зону для изучения экспериментальной сыворотки, помогающей справиться с радиационным загрязнением. Профессор близок к достижению цели, но зона всячески ему мешает.
        .characters__box-item 
            picture
                source(type='image/webp' srcset='./img/ava2.webp')
                img(alt='image' loading="lazy" src='./img/ava2.jpg')
            h2 Игрок
            p Случайный участник большой трагедии, В компании друзей проникает в Зону отчуждения, в поиске новых ощущений и неизведанного.  Который в процессе сталкивается с полчищами всевозможных тварей. В процессе путешествия ему придется разгадать тайну зоны...
        .characters__box-item 
            picture
                source(type='image/webp' srcset='./img/ava3.webp')
                img(alt='image' loading="lazy" src='./img/ava3.jpg')
            h2 Доктор Владимир Грандович
            p Он был ассистент профессора Саватеева в программе по созданию сыворотки. Он заинтересовался происходящим в Зоне, с большим энтузиазмом начал исследовать феномен мутантов. Но постепенно стало понятно, что характер его интереса трудно назвать здоровым. 