.description-fear
    .description-fear__text 
        h2 Страшно?
        p Зона – странное и загадочное место. Вроде бы просто радиоактивная свалка, куда вы прибыли, чтобы помочь в создании уникальной сыворотки… Но в то же время – мутанты, правительственные секреты, злые учёные и детский смех, пожалуй, самое страшное, что может здесь встретиться. Или нет? Когда свет выключается, а впереди – полная неизвестность, в голову лезет всякое. Но расслабляться некогда, ведь у вас – важная миссия! Вам предстоит… Уничтожить Зону!
    .description-fear__fog
    .description-fear__zomby(data-5000='left:-10%;' data-6100='left:10%;') 
        picture
            source(type='image/webp' loading='lazy' srcset='./img/zombi.webp')
            img(alt='image' loading='lazy' src='./img/zombi.png')
    .description-fear__branch(data-5000='right:-15%;' data-6100='right:-5%;')
        picture
            source(type='image/webp' loading='lazy' srcset='./img/trava-2.webp')
            img(alt='image' loading='lazy' src='./img/trava-2.png')