.description-history
    .description-history__text 
        h2 История
        p Вас ждёт вызов от самой Зоны! Вы становитесь участником уникальной программы по созданию бесценной сыворотки, защищающей от радиации… Но всё не так просто, и Зона даст о себе знать неприятными сюрпризами и страшными мутантами.
        p Вам нужно будет пройти локацию за локацией, почувствовав себя на месте персонажей знаменитой истории, только на этот раз – в реальности! И всё для того, чтобы раз и навсегда покончить с Зоной. Получится ли это у вас? Помните, на вас последняя надежда!
    .description-history__sun(data-4000='right:0%; top:0px' data-5500='right:50%;top:-600px')
    .description-history__branch(data-4000='left:-20%;' data-5500='left:0%;')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' loading='lazy' src='./img/vetki-1.png')
    .description-history__grass1(data-4000='left:-10%;' data-5500='left:0%;')
        picture
            source(type='image/webp' srcset='./img/trava-2.webp')
            img(alt='image' loading='lazy' src='./img/trava-2.png')
    .description-history__grass2(data-4000='right:-10%;' data-5500='right:0%;')
        picture
            source(type='image/webp' srcset='./img/trava-2.webp')
            img(alt='image' loading='lazy' src='./img/trava-2.png')