.description-zone
    .description-zone__text 
        h2 Зона отчуждения
        p Зона – жуткое место, которого не должно было существовать. Но оно появилось вопреки законам природы. И сейчас его населяют кошмарные твари, безумные учёные… И кто знает, что ещё? Шёпот детей, которым здесь неоткуда взяться, намекает на многое. А ведь вы всего лишь хотели помочь в испытании сыворотки от радиации! Во что влипла ваша команда? Но деваться некуда: надо выбираться. А значит – вперёд и только вперёд!
    .description-zone__branch1(data-5200='right:-10%;' data-6100='right:0%;')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' loading='lazy' src='./img/vetki-1.png')
    .description-zone__car(data-5200='right:-20%;' data-6100='right:0%;')
        picture
            source(type='image/webp' srcset='./img/avto.webp')
            img(alt='image' loading='lazy' src='./img/avto.png')
    .description-zone__branch2(data-5200='left:-30%;' data-6100='left:-10%;')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' loading='lazy' src='./img/vetki-1.png')