.parallax-top
    .parallax-top__background
        picture
            source(type='image/webp' srcset='./img/fon-nebo.webp')
            img(alt='image' src='./img/fon-nebo.png')
    .parallax-top__cloud(data-0='left:-900px' data-1800='left:-200px')
        picture
            source(type='image/webp' srcset='./img/oblako-1.webp')
            img(alt='image' src='./img/oblako-1.png')
    .parallax-top__cloud(data-0='left:100px' data-1800='left:400px')
        picture
            source(type='image/webp' srcset='./img/oblako-1.webp')
            img(alt='image' src='./img/oblako-1.png')
    .parallax-top__sity(data-0='bottom:0px' data-1800='bottom:-100px')
        picture
            source(type='image/webp' srcset='./img/gorod-2.webp')
            img(alt='image' src='./img/gorod-2.png')
    .parallax-top__sity(data-0='bottom:0px' data-1800='bottom:-50px')
        picture
            source(type='image/webp' srcset='./img/gorod-1.webp')
            img(alt='image' src='./img/gorod-1.png')    
    .parallax-top__sign(data-0='transform: scale(1);' data-1800='transform: scale(1.1);')
        picture
            source(type='image/webp' srcset='./img/znak.webp')
            img(alt='image' src='./img/znak.png')  
    //- .parallax-top__sun(data-0='right:100px; top:-200px' data-1800='right:-300px;top:-400px')
    .parallax-top__fog(data-0='left:-1900%' data-1800='left:-0%')
        picture
            source(type='image/webp' srcset='./img/tuman-1.webp')
            img(alt='image' src='./img/tuman-1.png')   
    .parallax-top__grass-2(data-0='transform: scale(1);filter: blur(0px);' data-1800='transform: scale(1.2);filter: blur(4px);')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' src='./img/vetki-1.png') 
    .parallax-top__grass-3(data-0='transform: scale(1);filter: blur(2px);' data-1800='transform: scale(1.5);filter: blur(5px);')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' src='./img/vetki-1.png') 
    .parallax-top__player(data-0='height:100%;' data-1800='height:130%;')
        picture
            source(type='image/webp' srcset='./img/stalker-igrok.webp')
            img(alt='image' src='./img/stalker-igrok.png')  
    .parallax-top__berd(data-0='left:10%; top:10%;transform: scale(1) rotate(0deg);' data-1800='left:100%; top:100%;transform: scale(4) rotate(-50deg);')
        picture
            source(type='image/webp' srcset='./img/voron-1.webp')
            img(alt='image' src='./img/voron-1.png')  
    .parallax-top__branch(data-0='transform: scale(1);filter: blur(0px);' data-1800='transform: scale(1.4);filter: blur(4px);')
        picture
            source(type='image/webp' srcset='./img/vetki-1.webp')
            img(alt='image' src='./img/vetki-1.png') 
    .parallax-top__stalker-logo(data-0='transform: scale(0.6);top:0px' data-1800='transform: scale(1.2);top:500px')
        picture
            source(type='image/webp' srcset='./img/stalker-logo.webp')
            img(alt='image' src='./img/stalker-logo.png') 