.zomby
    .zomby__img(data-2500='top:0%' data-3800='top:-100%')
        picture
            source(type='image/webp' loading='lazy' srcset='./img/glaza.webp')
            img(alt='image' loading='lazy' src='./img/glaza.png')