footer.footer
    a.footer__order(href="https://www.pogruzhenye.ru/", target="_blank", rel="noopener noreferrer") Принять участие
    ul.footer__nav
        li Квесты
        li Расписание
        li Дни Рождения
        li Сертификаты
        li Акции
        li Контакты