header.header
  a.header__logo(href='/')
    picture
      source(type='image/webp' srcset='img/logo.webp')
      img(alt='logo' src='img/logo.png')
  .header__tel
    p Позвоните нам:
    a(href="tel:+74992905290") +7(499)290-5-290
