.schedule{
    height: 700px;
    background-color: $pallete-dark;
    position: relative;
    z-index: 10;
    box-shadow: 0px -10px 20px #00000094;
    background-image: url(../img/load.svg);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    h2{
        text-align: center;
        padding-top: 100px;
        color: $pallete-base;
        font-family: Conv_trafaret;
        font-size: 40px;
    }
}