.video{
    position: relative;
    z-index: 10;
    background-image: url(../img/video.jpg);
    background-image: url(../img/video.webp);
    height: 700px;
    background-size: cover;
    background-position: center;
}