.zomby{
    height: 200px;
    position: relative;
    z-index: 10;
    background-image: url('../img/fon-nebo.jpg');
    background-image: url('../img/fon-nebo.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    &__img{
        height: 400px;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1200px) {
            height: 100%;
        }
        img{
            height: 100%;
        }
    }
}